<div id="works_content">
  <h1 class="title">
    <strong>Title:</strong>
    <%= @work.title %>
  </h1>
  <%= image_tag @work.image.url %>

  <p>
    <%= @work.description %>
  </p>

  <%= link_to 'Edit', edit_work_path(@work) %> |
  <%= link_to 'Back', works_path %>
</div>
